/* Course: SENG 513 */
/* Date: OCT 18, 2023 */
/* Assignment 2 */
/* Name: Aaron Gao */
/* UCID: 30056912 */

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.screen-container {
    position: relative;
    display: inline-block;
    background: url('./assets/background.png') center no-repeat;
    background-size: 100% 100%;
}


.bar-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.battlefield-container {
    width: 100%;
    height: 100%;
    padding: 222px;
    display: flex;
    justify-content: center;
}

.player-health {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 4px solid white;
}

.full-health {
    position: absolute;
    background: #006400;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;   
}

.health-bar {
    background-color: red;
    height: 30px;
    width: 100%;
}

.timer {
    background-color: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
}


.player {
    position: relative;
    height: 60px;
    width: 38px;
    top: 10vh;
    background-size: cover;
}


#player-1, .player1 {
    background-image: url('./assets/player1.png');
    left: -250px;
    box-sizing: border-box;
}

#player-2, .player2 {
    background-image: url('./assets/player2.png');
    left: 250px;
    box-sizing: border-box;
}



.enemy-health {
    position: relative;
    width: 100%;
    border: 4px solid white;
}

.display-text {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
